.headerContainer{
    height: 10em;
    background-color: rgb(199, 199, 199);
}

.headerMenuNav{
    max-width: 1120px;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    align-items: center;

    img{
        cursor: pointer;
    }

}