.card_main_container {
    max-width: 500px;
    min-height: 10rem;
    margin-top: 1%;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

.card_size_medium {
    width: 50%;
}

.card_title {
    min-height: 2rem;
    text-align: center;    
    font-weight: bold;
    color: white;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
}

.card_with_button {
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;    
    font-weight: bold;
    color: white;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    button {
        width: 150px;
    }
    align:botton;
}

.all_button {
    color: gray;
    padding: 15px 32px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 


.cardformbackposition{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 13rem;
}

.buttonsubmit{
    text-align: right;
    background-color: green;
}